doctype 5
html(lang="en")
  head
    title Search Spotify

    link(rel="stylesheet", href="components/foundation/stylesheets/foundation.min.css", rel="stylesheet")
    link(href="app/css/app.css", type="text/css", rel="stylesheet")

  body
    .row
      div(class="twelve columns")
        h1.header Search Spotify
          div(class="row collapse")

            div(class="six columns search-form is-invisble")
              div(class="ten mobile-three columns")
                input(type="text", class="search-form-input")
              div(class="two mobile-one columns")
                a(class="button expand postfix search-form-btn") Search

            div(class="row result-detail")
              div(class="six columns info")
              
              div.visualization

            div(class="row search-results")
              div(class="four columns")
                ul.albums
              div(class="four columns")
                ul.tracks
              div(class=four columns")

            div(class="row")
              div(class="four columns search-results-extra")

    script(data-main="app/js/main_1.js", src='components/requirejs/require.js', type="text/javascript")