doctype 5
html(lang="en")
  head
    title Search Spotify

    link(rel="stylesheet", href="components/foundation/stylesheets/foundation.min.css", rel="stylesheet")
    link(rel="stylesheet", href="components/foundation/custom/foundation.min.css", rel="stylesheet")
    link(href="app/css/app.css", type="text/css", rel="stylesheet")

    script(data-main="app/js/main_1.js", src='components/requirejs/require.js', type="text/javascript")

  body
    .row
      div(class="twelve columns")
        h1.subheader Search Spotify
          div(class="row")
            div(class="three columns")
              h2.subheader Search
              div.search-form
                form
                  input(type="text", class="search-form-input twelve")
                  a(class="button expand postfix search-form-btn one") Search
              div(class="search-results")
                h2.subheader Results

            div(class="three columns data-summary")
              h2.subheader Data summary
              div.data-summary-hover
              div.data-summary-data
              div.data-summary-countries-grid

            div(class="six columns visualization")
              h2.subheader Visualization
