$lightest: #5DC8CD
$lighter: #34C6CD 
$default: #01939A
$darker: #1D7074
$darkest: #006064 

body
  background: #fff url('../assets/texture-noise.png') repeat

.drag-surface
  fill: rgba(255,255,255,0)
